.footer__column-link {
  display: inline-block;
  text-decoration: none;
  color: white;
  vertical-align: middle;
  text-align: center;
}

.footer__column-link:hover {
  opacity: 50%;
  transition: transform 1s ease-in-out 1s;
 }
